<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Mon application</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/bulma.css">
</head>

<body class="pb-4">
  <!-- Include the header partial -->
  <%- include('header.ejs') %>
  
<div class="box is-half mx-6 mt-4">
    <%- include('./ue/modify.ejs',{ues})%>
</div>
<div class="box is-half mx-6 mt-4">
  <%- include('./maquette/modify.ejs',{maquettes}) %>
</div>
<div class="box is-half mx-6 mt-4">
  <%- include('./parcours/modify.ejs',{parcoursList}) %>
</div>
<div class="box is-half mx-6 mt-4">
  <%- include('./module/modify.ejs',{modules}) %>
</div>
</body>
</html>
 